{% extends 'base.html' %}
{% block title %}
<title> Home Yes</title>
{% endblock %}

{% block content %}
<div class="container-fluid p-0 m-0">
	<div class="row   p-0 m-0">
		<div class="ratio ratio-21x9">
		<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
		  <div class="carousel-indicators">
		    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
		    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
		    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
		  </div>
		  <div class="carousel-inner">
		    <div class="carousel-item active">
		      <img src="/static/image/iphone.jpg" class="d-block w-100" alt="...">
		    </div>
		    <div class="carousel-item">
		      <img src="/static/image/nokia.jpg" class="d-block w-100" alt="...">
		    </div>
		    <div class="carousel-item">
		      <img src="/static/image/samsung.jpg" class="d-block w-100 " alt="...">
		    </div>
		  </div>
		  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
		    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
		    <span class="visually-hidden">Previous</span>
		  </button>
		  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
		    <span class="carousel-control-next-icon" aria-hidden="true"></span>
		    <span class="visually-hidden">Next</span>
		  </button>
		</div>
		</div>
	</div>
</div>

<div class="container-fluid">
	<div class="row">
		<div class="col-sm-2"></div>
		<div class="col-sm-8 mt-5">
			
			<div class="row ">
			<div class="col-sm-12 text-center text-pink border-bottom border-1 border-warning"> <h2>Our Services</h2></div>
				<div class="col-lg-3 col-md-6 col-sm-12 p-2 ">
					<div class=" shadow text-center m-2 p-2 text-info">
						<h1 class="bi bi-phone"></h1>
						<h6> Mobile Phone</h6>
					</div>
				</div>
					
				<div class="col-lg-3 col-md-6 col-sm-12 p-2">
					<div class=" shadow text-center m-2 p-2 text-danger">
						<h1 class="bi bi-tablet-landscape"></h1>
						<h6> Tab / iPad</h6>
					</div>
				 </div>
				<div class="col-lg-3 col-md-6 col-sm-12 p-2">
					<div class=" shadow text-center m-2 p-2 text-success">
						<h1 class="bi bi-laptop"></h1>
						<h6> Laptop</h6>
					</div> 
			 	</div>
				<div class="col-lg-3 col-md-6 col-sm-12 p-2">
					<div class=" shadow text-center m-2 p-2 text-primary">
						<h1 class="bi bi-tv"> </h1>
						<h6>TV</h6>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 col-sm-12 p-2"> 
			 		<div class=" shadow text-center m-2 p-2 text-success">
						<h1 class="bi bi-display"></h1>
						<h6> Desktop</h6>
					</div>
			 	</div>
				<div class="col-lg-3 col-md-6 col-sm-12 p-2">
					<div class=" shadow text-center m-2 p-2 text-warning">
						<h1 class="bi bi-watch"></h1>
						<h6> Watch</h6>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 col-sm-12 p-2">
					<div class=" shadow text-center m-2 p-2 text-secondary">
						<h1 class="bi bi-volume-up"></h1>
						<h6>Speaker</h6>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 col-sm-12 p-2">
					<div class=" shadow text-center m-2 p-2 text-danger">
						<h1 class="bi bi-camera"></h1>
						<h6> DLSR</h6>
					</div>
				</div>	
			</div>
		</div>
		<div class="col-sm-2"></div>
	</div>
</div>


<div class="container-fluid">
	<div class="row">
		<div class="col-sm-2"></div>
		<div class="col-sm-8 mt-5">
			
			<div class="row ">
			<div class="col-sm-12 text-center text-pink border-bottom border-1 border-warning"> <h2> Company</h2></div>
				<div class="col-lg-4 col-md-6 col-sm-12 p-2 ">
					<div class=" shadow text-center m-2 p-2 ">
						<img src="/static/image/apple.svg">
						<h6> apple</h6>
					</div>
				</div>
					
				<div class="col-lg-4 col-md-6 col-sm-12 p-2">
					<div class=" shadow text-center m-2 p-2 text-primary">
						<img src="/static/image/nokia.svg">
						<h6> NOKIA</h6>
					</div>
				 </div>
				 
				 <div class="col-lg-4 col-md-6 col-sm-12 p-2">
					<div class=" shadow text-center m-2 p-2 text-success">
						<img src="/static/image/android.svg">
						<h6> PIXEL</h6>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-12 p-2">
					<div class=" shadow text-center m-2 p-2 text-warning">
						<img src="/static/image/mi.svg">
						<h6> xiaomi</h6>
					</div> 
			 	</div>
				<div class="col-lg-4 col-md-6 col-sm-12 p-2">
					<div class=" shadow text-center m-2 p-2 text-primary">
						<img src="/static/image/samsung.svg">
						<h6>SAMSUNG</h6>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-12 p-2"> 
			 		<div class=" shadow text-center m-2 p-2 text-success">
						<img src="/static/image/htc.svg">
						<h6> HTC</h6>
					</div>
			 	</div>	
			</div>
		</div>
		<div class="col-sm-2"></div>
	</div>
</div>



{% endblock %}