{% extends 'base.html' %}
{% block title %}
<title>Service Yes</title>
{% endblock %}

{% block content %}

<div class="container-fluid">

	<div class="row ">
 		<div class="col-lg-1 "></div>
 		<div class="  col-lg-10">
 			<div class="row ">
 			
 				<div class="col-lg-4 col-sm-6  p-5">
 					<div class="card shadow h-100 w-100 border border-1 border-warning rounded align-items-center" style="width: 18rem;">
					  <img src="/static/image/iphone-13-pro.jpg" class="card-img-top text-success">
					  <div class="card-body">
					    <h5 class="card-title">Model:APPLE IPHONE 13 PRO </h5>
					    <p class="card-text">Color: SLIVER </p>
					    <p class="card-text">Price: 1035 &#128</p>
					    <a href="#" class="btn btn-info w-100 ">Buy Now</a>
					    <a href="#" class="btn btn-warning w-100 mt-2 text-white">Add to Cart</a>
					  </div>
					</div>
 				</div>
 				
 				<div class="col-lg-4 col-sm-6 p-5 ">
 					<div class="card shadow h-100 w-100 border border-1 border-warning rounded align-items-center" style="width: 18rem;">
					  <img src="/static/image/iPhone-12.jpg" class="card-img-top text-success">
					  <div class="card-body">
					    <h5 class="card-title">Model: APPLE IPHONE 12  </h5>
					    <p class="card-text">Color: WHITE </p>
					    <p class="card-text">Price: 639 &#128 </p>
					    <a href="#" class="btn btn-info w-100 ">Buy Now</a>
					    <a href="#" class="btn btn-warning w-100 mt-2 text-white">Add to Cart</a>
					  </div>
					</div>
 				</div>
 				
 				<div class="col-lg-4 col-sm-6 p-5 ">
 					<div class="card shadow h-100 w-100 border border-1 border-warning rounded align-items-center" style="width: 18rem;">
					  <img src="/static/image/iphone-7.jpg" class="card-img-top text-success">
					  <div class="card-body">
					    <h5 class="card-title">Model: APPLE IPHONE 7 </h5>
					    <p class="card-text">Color: SLIVER </p>
					    <p class="card-text">Price: 285 &#128</p>
					    <a href="#" class="btn btn-info w-100 ">Buy Now</a>
					    <a href="#" class="btn btn-warning w-100 mt-2 text-white">Add to Cart</a>
					  </div>
					</div>
 				</div>
 				
 				<div class="col-lg-4 col-sm-6 p-5 ">
 					<div class="card shadow h-100 w-100 border border-1 border-warning rounded align-items-center" style="width: 18rem;">
					  <img src="/static/image/Huawei-P9.jpg" class="card-img-top text-success">
					  <div class="card-body">
					    <h5 class="card-title">Model: HAUWEI P9 </h5>
					    <p class="card-text">Color: GRAY</p>
					    <p class="card-text">Price: 320 &#128</p>
					    <a href="#" class="btn btn-info w-100 ">Buy Now</a>
					    <a href="#" class="btn btn-warning w-100 mt-2 text-white">Add to Cart</a>
					  </div>
					</div>
 				</div>
 				
 				<div class="col-lg-4 col-sm-6 p-5 ">
 					<div class="card shadow h-100 w-100 border border-1 border-warning rounded align-items-center" style="width: 18rem;">
					  <img src="/static/image/sg-s21.jpg" class="card-img-top text-success">
					  <div class="card-body">
					    <h5 class="card-title">Model: SUMSUNG GALAXY S21+ </h5>
					    <p class="card-text">Color: BLACK</p>
					    <p class="card-text">Price: 735 &#128</p>
					    <a href="#" class="btn btn-info w-100 ">Buy Now</a>
					    <a href="#" class="btn btn-warning w-100 mt-2 text-white">Add to Cart</a>
					  </div>
					</div>
 				</div>
 				
 				<div class="col-lg-4 col-sm-6 p-5 ">
 					<div class="card shadow h-100 w-100 border border-1 border-warning rounded align-items-center" style="width: 18rem;">
					  <img src="/static/image/nokia-xr20.jpg" class="card-img-top text-success">
					  <div class="card-body">
					    <h5 class="card-title">Model: NOKIA XR20 </h5>
					    <p class="card-text">Color: GRAY</p>
					    <p class="card-text">Price: 346 &#128</p>
					    <a href="#" class="btn btn-info w-100 ">Buy Now</a>
					    <a href="#" class="btn btn-warning w-100 mt-2 text-white">Add to Cart</a>
					  </div>
					</div>
 				</div>
 				
 				 				
 				

 				
			</div> 
 		</div>
		<div class="col-lg-1"></div>               
	</div>
	
</div>															
{% endblock %}	